development:
  adapter: postgresql
  encoding: unicode
  database: school_area_development
  pool: 5
  username: 
  password:
test:
  adapter: postgresql
  encoding: unicode
  database: school_area_test 
  pool: 5
  username: 
  password:
production:
  adapter: postgresql
  encoding: unicode
  database: school_area_production
  pool: 5
  username: 
  password:
