# Provide default local block
common: &common
 adapter: postgresql
 encoding: unicode 
 pool: 5
 username: myuser
 password: mypass

development:
  database: school_area_api_development
  <<: *common

test:
  database: school_area_api_test
  <<: *common
  
production:
  database: school_area_api_production
  <<: *common
