# Provide default local block
local: &local
 username: myuser
 password: mypass

common: &common
 adapter: postgresql
 encoding: unicode 
 pool: 5
 <<: *local

development:
  database: neighbours-ss_development
  <<: *common

test:
  database: neighbours-ss_test
  <<: *common
  
production:
  database: neighbours-ss_production
  <<: *common
